


.first-title{
  height: 700px;
  .title-text{
     .first-line{
      .basic-font();
        font-weight: 600;
        font-size: 90px;
        line-height: 95%;
        letter-spacing: -0.015em;

        color: @purple-color;
        }
        span.impotant-place{
          color: @pink-color;
        }

      }

    }
.who-is{
    .full-screen();
    .we-are-fishfish{
      .row-flex();
      flex-direction: column;
      height: 614px;
      background-color: @blue-color;
        .left-place{
          .left-place();
          .col();
          .size(6);
          .inside-left-side();
        }
            p.left-text{

              .basic-font();
              .middle-text();
              padding-left: 165px;
              color:@white-color;
            }
         }
         .right-place{
          .inside-right-side();
           .right-place();
           .col();
           .size(5);
           .about-text{
               .right-text-spacing();
               .basic-font();
               .tiny-text();
               color:@white-color;
           span.important-place{
             color:@yellow-color;
             }

           }
        }
}
.what-we-do{

  .row-flex();
.full-screen-left();
  height: 401px;
  flex-direction: column;
    .left-place{
        .left-place();
        .inside-left-side();
        .col();
        .size(6);
        background-color: white;
        .left-text{

            .basic-font();
            .middle-text();
            color: @purple-color;
        }
    }
    .right-place{
        .right-place();
        .col();
        .size(6);
        .row-flex();
        .inside-right-side();

        padding-left: 65px;
        background-color:@pink-color;
        .links{
            .row-flex();
            flex-direction: column;
            a{
                .basic-font();
                .middle-tiny-text();
                padding-bottom: 40px;
                color: white;
                text-decoration: none;
        }
      }

    }
}
.cases{
  .row-flex();
  height:857px;
  background-color:@green-color;
  .full-screen();
  flex-direction: column;
      .left-place{
        .left-place();

        .inside-left-side();
        p.left-text{
          .basic-font();
          .middle-text();
          padding-left: 165px;
          color:@white-color;
          .col();
          .size(6);
        }
      }
      .right-place{
        .row-flex();
        .inside-right-side();
         .right-place();
         .cases-place{
         .col();
         .size(5);
      }
}
}
// .prices{
//   .row-flex();
//   .full-screen();
//   height:401px;
//     .left-place{
//
//         .left-place();
//         background-color: @pink-color;
//         .left-text{
//             .inside-left-side();
//             .basic-font();
//             .middle-text();
//             color: white;
//         }
//     }
//     .right-place{
//         .right-place();
//
//         background-color:white;
//         .links{
//             .row-flex();
//             .inside-right-side();
//             .size(4);
//
//             flex-direction: column;
//             a{
//                 .basic-font();
//                 .middle-tiny-text();
//                 padding-bottom: 40px;
//                 color:@blue-color;
//                 text-decoration: none;
//         }
//       }
//
//     }
//   }
