
.header-place{
  .row-flex();
  margin-bottom: 116px;
  .logo-title{
  .col();
  width:90%
  }
    p.logo-title{
      .important-words(@yellow-color);
      .size-md(3);
    }
    .menu-burger-place{
      .col();
      width: 4%;
      .size-md(3);
      a{
      .important-words(@purple-color,100);
      text-decoration: none;
    }
  }
}
