@import "header.less";
@import "body.less";
@import "footer.less";
@import "smart-grid.less";
// @import "smart-grid.less";
.reset();
.main-container{
  .wrapper();
  margin-top: 90px;
}
// .degubGrid{
//     .debug(rgba(0, 0, 0, 0.4), 1px solid #ff0);
// }
.basic-font(){
@font-face { font-family: Manrope; src: url('fonts/manrope-regular.ttf'); }
font-family: Manrope;
font-style: normal;
  letter-spacing: -0.015em;
}
.important-words(@color,@weight:600){
.basic-font();
color: @color;
font-weight: @weight;
font-size: 72px;
line-height: 92.5%;
text-transform: uppercase;
}
.middle-text(){
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;

}
.middle-tiny-text(){
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
}
.tiny-text(){
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.left-place(){
  .col();
}
.right-place(){
  .col();
}
.half-display-left-place{

}

.left-text-spacing(){
  // padding-top: 80px;
}
.right-text-spacing(){
  .left-text-spacing();
}
.full-screen(){
  margin-right: -165px;
  margin-left: -165px;
}
.full-screen-left(){
  margin-right: -165px;
}
.full-screen-right(){
  margin-left: -165px;
}

.inside-left-side{
  padding-top: 80px;
  padding-left: 0px;
}
.inside-right-side{
  padding-top: 80px;
  margin-left: 10px;
}

@yellow-color: #F6B155;
@purple-color: #32395F;
@pink-color: #E99996;
@blue-color: #32395F;
@white-color: #F4ECE1;
@green-color: #2E796D;
